name: Update receipt date in index.html

on:
  schedule:
    - cron: '00 00 * * *'   # 12:00 AM IST
  workflow_dispatch:
permissions:
  contents: write
  
jobs:
  generate-html:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Generate index.html from template
        run: |
          # Date formats
          DATE_READABLE=$(date +"%d %b %Y")
          DATE_URL_ENCODED=$(date +"%d%%20%b%%20%Y")

          # Recreate index.html from template
          cp place_holder.html index.html

          # Replace placeholders
          sed -i "s/DATE_PLACEHOLDER_SPACE/$DATE_URL_ENCODED/g" index.html
          sed -i "s/DATE_PLACEHOLDER/$DATE_READABLE/g" index.html

      - name: Commit updated index.html
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"
          git add index.html
          git commit -m "chore: update receipt date to $DATE_READABLE" || exit 0
          git push
